$mainFont: 'DM Sans', sans-serif;
$tittleFont: 'Titan One', cursive;
$whiteColor: #ffffff;
$blackColor: #000000;
$accentColor: #2196f3;
$secondaryBg: #f5f4fa;
$btnShadow: rgba(0, 0, 0, 0.15);
$primaryTextColor: #212121;
$btnHover: #188ce8;
$btnRedBg: #d41342;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
