.form {
  padding: 20px;

  &__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    max-width: 70%;
    padding: 11px 12px;
    transition: border-color $transition-duration $timing-function;
    outline: none;

    &:focus-within {
      border-color: $accentColor;
    }

    // @media screen and (max-width: ($desktop - 1px)) {
    //   width: 370px;
    // }
  }

  &__btn {
    margin-left: 20px;
  }
}
